body {
  font-family: Menlo, monospace;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.quote {
  cursor: pointer;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

.grid {
  display: none; /* Initially hidden */
  gap: 15px;
  grid-template-columns: repeat(2, 1fr); /* Adjust for two or four buttons */
  width: 60%;
  margin-top: 20px;
  justify-content: center;
}

.item {
  padding: 20px; /* Larger padding for better visibility */
  background-color: #444;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem; /* Larger font size */
  width: 200px; /* Larger button width */
  height: 150px; /* Larger button height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.output {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.output img {
  max-width: 100%;
  max-height: 100%;
  width: 600px; /* Set a larger fixed width */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain;
}
